<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <link href="http://fonts.cdnfonts.com/css/alien-encounters" rel="stylesheet">
    <title>Edit <%=shoe.brand%> <%=shoe.model%></title>
</head>
<body>
    <nav>
        <a href="/shoes">Home</a>
        <a href="/shoes/new">Add a Shoe</a>
        <a href="/shoes">About</a>
    </nav>
    <h1>Edit Shoe</h1>
    <div id = "form-container">
    <form action="/shoes/<%=shoe._id%>?_method=PUT" method = "POST">
    Brand: <input type="text" name="brand" value="<%=shoe.brand%>" id="brand"> <br> <br>
    Model: <input type="text" name="model" id="model" value="<%=shoe.model%>"><br> <br>
    Image: <input type="text" name="img" id="img" value="<%=shoe.img%>"><br> <br>
    Drop: <input type="number" name="drop" id="drop" value="<%=shoe.drop%>"><br> <br>
    Responsiveness: <input type="number" name="responsiveness" id="responsiveness" value="<%=shoe.responsiveness%>"><br> <br>
    Price: <input type="number" name="price" id="price" value="<%=shoe.price%>"><br> <br>
    Summary: <input type="text" name="summary" id="summary" value="<%=shoe.summary%>"><br> <br>
    Overall: <input type="radio" name="overall" id="overall" value="<%=shoe.overall%>"><br> <br>
    <div id = "submit-container">
    <input id = "edit-button" type="submit" value="Edit Shoe"><br>
    </div>
</form>
</div>
</body>
</html>