<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=shoe.brand%> <%=shoe.name%></title>
</head>

<body>
    <h1><%=shoe.brand%> <%=shoe.model%></h1>
    <p>
        <img src="<%=shoe.img%>" alt="">
    </p>
    <p>
        <%=shoe.drop%>
    </p>
    <p>
        <%=shoe.responsiveness%>
    </p>
    <p>
        <%=shoe.price%>
    </p>
    <p>
        <%=shoe.summary%>
    </p>
    <p>
        <%=shoe.overall%>
    </p>

    <form action="/shoes/<%= shoe.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Remove Shoe">
    </form>

</body>

</html>